.seccion {
  background-color: darkslategrey;
  paddin: 1rem;
  padding: 1rem;
}

.parrafo {
  background-color: white;
  paddin: 1rem;
}
.parrafo.dragging {
  opacity: 0.3;
}

.imagen-fantasma {
  width: 300px;
  height: 300px;
  background-color: red;
  position: absolute;
  left: -100vw;
}
